# Ignore the following files and directories
__pycache__/
*.pyc 
*.out
*.dot
*.json
*.gv
*.pdf
*.stat
*.soln
*.csv
*.sas
*.SOL
.~*.csv#

# Recursively allow files under the following subtrees
!results/**
!resources/**
